/* css for site */

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color: #e2edff;
    line-height: 125%;
    padding: 15px;
}



li {
    font-size: small;
}



p {
    font-size: small;
    color: navy;
}

em {
    text-transform: uppercase;
}

#tagline p {
    font-style: italic;
    font-family: Georgia, Times, serif;
}

h2 {
    color: blue;
    font-size: medium;
    font-weight: normal;
}

h1,
h2,
h3 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    background-color: navy;
    color: white;
}

a {
    font-weight: bold;
    color: black;
}

a:link {
    color: black;
}

a:visited {
    color: gray;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: navy;
}

a:active {
    color: aqua;
    background-color: navy;
}

.fun {
    font-family: Georgia, Times, serif;
    color: #339999;
    letter-spacing: 0.05em;
}

blockquote.fun {
    font-style: italic;
}

.fun2 {
    color: green;
}